@page "{site?}"
@model IndexModel
@{
    ViewData["Title"] = Model.Source.Name;
}

@foreach (var article in Model.Source.Articles) {
    <section class="news-link">
        <a href="/les/@Model.Source.Name?url=@article.Href">
            <h2>@Html.Raw(article.Title)</h2>
        </a>
        <a href="@article.Href" class="source-link" rel="noreferrer">Les på nrk.no</a>
    </section>
}
<footer>
    <p>
        <small>
            @Model.Source.Attribution &copy; @Model.Source.Name, @(DateTime.UtcNow.Subtract(Model.Source.Created).Minutes) minutter siden
        </small>
    </p>
</footer>