@page "/les/{site}"
@model ReadModel
@{
    ViewData["Title"] = Model.Source.Title;
}

<div style="display: flex; justify-content: space-between">
    <div>
        <h1>@Model.Source.Title</h1>
        <p>@Model.Source.Subtitle</p>
    </div>
    <div style="display: flex; flex-direction: row">
        <div style="flex-direction:column">
            <small>Publisert: @Model.Source.PublishedAt.ToString("F")</small><br>
            <small>Oppdatert: @Model.Source.UpdatedAt.ToString("F")</small>
        </div>
        <div style="margin: 0 5px; height: 100%; border: 1px solid black"></div>
        <div style="flex-direction:column">
            @foreach (var author in Model.Source.Authors) {
                <small><em>@author.Name</em>: @author.Title</small> <br/>
            }
        </div>
    </div>
</div>
<hr>
@Html.Raw(Model.Source.Content)