<!DOCTYPE html>
<html lang="nb">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/index.css">
    @await RenderSectionAsync("head", false)
    <title>@ViewData["Title"] - Lettnytt</title>
</head>
<body>
<header id="top-bar">
    <nav>
        <div class="left">
            <a href="/nrk" class="@(Context.Request.Path.StartsWithSegments("/nrk") ? "active" : "")">NRK</a>
            <a href="/nrk-radio" class="@(Context.Request.Path.StartsWithSegments("/nrk-radio") ? "active" : "")">NRK Radio</a>
        </div>
        <div class="right">
            <a href="/om" class="@(Context.Request.Path.StartsWithSegments("/om") ? "active" : "")">Om lettnytt</a>
        </div>
    </nav>
</header>
<main>
    @RenderBody()
</main>
@await RenderSectionAsync("scripts", false)
</body>
</html>